{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <article>
            <h1>{{ article.title }}</h1>
            <span>Catégorie: {{ article.category.name }}</span>
            <div class="content">
                {{ article.body|raw }}
            </div>
        </article>
    </div>
{% endblock %}
