{% extends 'base.html.twig' %}

{% block title %}Hello blog{% endblock %}

{% block body %}
    <div class="container">
        {% for article in articles %}
            <article>
                <a href="{{ path('detail', {'id':article.id, 'slug':article.slug}) }}"><h1>{{ article.title }}</h1></a>
                <span>Catégorie: {{ article.category.name }}</span>
                <div class="content">
                    {{ article.body|raw }}
                </div>
            </article>
        {% endfor %}
        {% if hasPrevious %}
            <a href="{{ url('homepage', {'page' : (currentPage-1)}) }}"><< Previous</a>
        {% endif %}
        {{ currentPage }}
        {% if hasNext %}
            <a href="{{ url('homepage', {'page' : (currentPage+1)}) }}"> >> Next</a>
        {% endif %}
    </div>
{% endblock %}
